<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402659134975-dglajof728upr7chgije5lhkdg55sblo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402659134975-dglajof728upr7chgije5lhkdg55sblo</string>
	<key>API_KEY</key>
	<string>AIzaSyCpGYErbkyyzZE80wOlGjYMr9a0s78HCvY</string>
	<key>GCM_SENDER_ID</key>
	<string>402659134975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maden.emojibulmaca</string>
	<key>PROJECT_ID</key>
	<string>emojibulmaca-8cafb</string>
	<key>STORAGE_BUCKET</key>
	<string>emojibulmaca-8cafb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402659134975:ios:38937dfe5e01d2e23c6bca</string>
</dict>
</plist>